 <!-- <header>
    <img class="logo" src="/assets/img/logo.png" width="50" height="50" alt="logo">
    <nav>
        <ul class="navlinks">
            <li><a href="index.html" class="home">Início</a></li>
            <li><a href="/formulario" class="form">Formulário</a></li>
            <li><a href="/sobre" class="about">Sobre Nos</a></li>
            <li><a href="/contato" class="contacts">Fale conosco</a></li>
        </ul>
    </nav>
</header>

<h1 class="clientes">Nossos Clientes</h1>
        <table>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th class="espaco">Opções</th>
            </tr>
            <tr *ngFor="let cliente of clientes">
                <td>{{ id: cliente.id }}</td>
                <td>{{ sobrenome: cliente.sobrenome }}</td>
                <td>{{ idade: cliente.idade }}</td>
         
                 sexo: cliente.sexo,
                tipo: cliente.tipo,
                doneca: cliente.doneca,
                doencaa: cliente.sexo,
                email: cliente.email,
                celular: cliente.celular,
                cep: cliente.cep,
                numero: cliente.numero -->

                <!--  <td>
                    <button type="button" class="btn btn-info" routerLink="update/{{cliente.id}}">Modificar</button>
                    <button type="button" class="btn btn-danger" (click)="onDelete(cliente.id)">Apagar</button>
                </td>
            </tr>
            <tr>
                <td>Ricardo</td>
                <td>Rodrigo</td>
                <td>29</td>
                <td>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                </td>
            </tr>         
        </table>  --> -->